.title_sale-off {
    display: flex;
    margin: 10px 60px 0px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    color: #e05994;
}

.add_sale-off {
    margin: 10px 60px 0px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5em;
}


.attribute_add_sale-off input {
    margin: 0px 15px 0px 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #dddddd;

}

.attribute_add_sale-off input:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.attribute_add_sale-off button {
    margin: 0px 15px 0px 15px;
    border-radius: 5px;
    width: 75px;
}

.attribute_add_sale-off select {
    margin: 0px 15px 0px 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #dddddd;
    width: 150px;
}

.attribute_add_sale-off select:hover {
    transform: scale(1.1);
    transition: all 0.2s;
}

.attribute_add_sale-off button:hover {
    background-color: #f78da7;
    transform: scale(1.1);
    color: white;
    font-weight: bold;
}


.sale-off_list {
    margin: 10px 60px 0px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
}


.content_sale-off {
    border-collapse: collapse;
    margin: 25px 0px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.content_sale-off thead tr {
    background-color: #f78da7;
    color: #183a5c;
    font-weight: bold;
    height: 50px;

}

.content_sale-off th,
.content_sale-off td {
    padding: 12px 15px;
}

.content_sale-off tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content_sale-off tbody tr:last-of-type {
    border-bottom: 2px solid #f78da7;
}

.content_sale-off tbody tr:hover {
    background-color: #ddddddec;
}

.content_sale-off tbody tr button {
    border-radius: 5px;
}

.content_sale-off tbody tr button:hover {
    background-color: #f78da7;
    transform: scale(1.1);
    color: white;
    font-weight: bold;
}