.grid{
    /* website: >1200px => width: 1200px; <1200px => width: tùy chỉnh bằng width đó */
    width: 1300px;
    max-width: 100%;
    margin: 0 auto; /* tự động căn giữa khi nằm trong 1 khối khác */
  
    
}

/* header */
.header_general-infor
{
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);

}
.header-auth
{
    display: flex;
}
.nav-link-black
{
    
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 10px;
    text-decoration: none;
    color: var(--text-color);
   
}
.nav-link-black:hover
{
    color: rgb(0, 0, 0, 0.6);

}
.nav-link-line
{
    border-right: 1px solid #adadad;
    padding-right: 10px;
}

.header-contact
{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 1.1rem;
    color:#3eafcb;
    font-weight: 400;

}
.header-contact__email
{
    font-weight: 500;
}
.header 
{
    z-index: 2;
    position: sticky;
    top:0;
    background-color: var(--white-color);
    /* height: 115px; */
}
.header__nav
{
    height: 81px;
    background-image: linear-gradient(180deg, var(--primary-color), var(--partial-color));

}
.nav-item-pointer
{
    cursor: pointer;
}
.container-search
{
    position: relative;
    margin-left: 20px;
}
.header-logo
{
    height: 90px;
}
.search-header
{
    background-color: white;
    position: relative;
    z-index: 1;
    width: 416px;
    height: 35px;
    border-radius: 20px;
    font-size: 1.4rem;
    transition: transform 0.1s ease; /* Hiệu ứng chuyển đổi */
    transform-origin: right; /* Điểm bắt đầu của transform */
}

.container-search-text
{   
    margin-left: 15px;
    border: none;
    outline: none;
    width: 84.5%;
    display: block;
    position: absolute;
    top: 16%;
}
.search-button {
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    position: absolute;
    top: 0;
    right:0 ;
    z-index: 2;
    margin-right: 20px;
    margin-top: -3px;
  }
.navbar-list
{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;

}
.nav-item__icon
{
    font-size: 20px;
    color: white;
}
.nav-item-frame
{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1.29px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-item-align
{
    display: flex;
    align-items: center;
}
.nav-link-white
{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white-color) !important;
    margin-left: 10px;
}
/* body */
.body
{
    background-color: #f2f1f6;

}
.body-banner-container
{
    margin-bottom: 50px;
}
.body-banner
{
    
    position: relative;
    overflow: hidden;
    height: 330x;
    display: grid;
    grid-template-areas: 
    "aa aa aa bb"
    "aa aa aa cc";
}

.body-banner-item1
{
    grid-area: aa;
}
.body-banner-item2
{
    grid-area: bb;
}
.body-banner-item3
{
    grid-area: cc;
}
.body-banner-img
{
    width: 100%; /* Đặt kích thước hình ảnh là 100% của thẻ div */
    height: auto; /* Đảm bảo tỷ lệ khung hình ảnh không bị méo */
    display: block; 
}
.body-wrapper
{
    background-color: var(--white-color);
    border-radius: 10px;
}
.body-listProduct
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 25px;
    gap:10px;
    z-index: 1;
}
.body-title
{
    color: var(--primary-color);
    font-weight:700;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.8rem;
}
.body-list__item
{
    /* height: 320px;
    width: 230px; */
    height: 340px;
    width: 240px;
    position: relative;
    flex-basis: calc(20% - 20px);
    padding: 10px;
}
.body-list__item:hover .body-item-links
{
    opacity: 1; /* Khi hover, đặt độ mờ thành 1 */
    transform: translateY(0); /* Đẩy phần tử lên từ dưới lên */
}
.body-item-img
{
    /* width: 210px;
    height: 210px; */
    width: 230px;
    height: 230px;

}
.body-item-link
{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}
.body-link-title
{
    text-align: center;
}
.body-item-des
{
    padding: 20px;
}
.body-item-price
{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(241, 49, 11, 0.6);
    font-weight: 500;
}
.body-item-links
{
    position: absolute;
    top:46%;
    right: 4%;
    display: flex;
    width: 210px;
    height: 25px;
    align-items: top;
    justify-content: center;
    gap:10px;

    opacity : 0; /* Bắt đầu với độ mờ là 0 */
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    transform: translateY(20px); /* Đẩy phần tử xuống dưới để giữ lại */

}

.body-links-detail
{
    text-decoration: none;
}
.body-circle
{
    width: 39px;
    height: 39px;
    background-color: var(--white-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.body-icon-black
{
    color: black;
    font-size: 22px;
}
.body-icon-black--large
{
    color: black;
    font-size: 24px;
}
.body-icon-white
{
    color: var(--white-color);
    font-size: 26px;

}
.body-circle--red
{
    background-color: #ff8087;
}
.body-footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.body-footer-seemore
{
    outline: none;
    text-decoration: none;
    position: relative;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #81D1E5;
    border-radius: 25px;
    text-align: center;
    border:solid 4px transparent;
    padding: 8px 17px;
   

}
.body-footer-seemore:hover
{
    color: white;
    background-color: var(--primary-color);
}
.body-footer-seemore::before
{
    border-radius: 25px;
    display:  block;
    content: "";
    position: absolute;
    z-index: 0;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 2px dashed var(--white-color);
}
.body-catogory
{
    position: relative;
}
.body-category-list
{
    margin-bottom: 200px;
    margin-top: 100px;
    display: flex;
    gap: 20px;
    z-index: -1;


}
.body-category-item
{
    position: relative;
    height:240px;
    width: 240px;
    background-color: #ff8087;
    box-sizing: content-box;
    border-radius: 10px;
}

.body-category-link::before
{
    left: 8px;
    top: 8px;
    bottom: 8px;
    right: 8px;
    position: absolute;
    display: block;
    content: "";
    border: 2px dashed #ffffff;
    border-radius: 10px;
}
.body-category-img
{
    border-radius: 10px;
    height:240px;
    width: 240px;
}
.body-category-name
{
    position: absolute;
    bottom: 10%;
    padding-left: 30px;
    color: var(--white-color);
    text-shadow: 0px 0px 6px rgba(0,0,0,.2);
    font-size: 1.4rem;
    font-weight: 700;
}
.body-category-nav
{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: -1%;
    right: 1%;
    display: flex;
    justify-content: space-between;
   
}
.body-nav-btn
{
    position: relative;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background-color: #dd6363;
    border: 1.29px solid white;
    opacity: 0.85;
    transition: all 0.3s ease 0s;

}
.body-nav-btn:hover
{
    opacity: 1;
}
.body-nav-btn::before
{
    display: block;
    content: "";
    position: absolute;
    z-index: 0;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    background: none;
    border: 2px dashed #dd6363;
    border-radius: 4px;
    border-radius: 50%;
}
.body-nav-icon
{
    font-size: 20px;
    font-weight: bold;
    color: var(--white-color);

}
.btn-left
{
    margin-right: -6px;
}
/* footer */
.footer
{
    height:530px;
    border-top: 4px solid var(--partial-color);
}
.footer-container{
    display: grid;
    grid-template-columns: 168px 400px auto auto;
    column-gap: 20px;
    background-color: var(--white-color);
}
.footer-list
{
    font-size: 1.3rem;
    margin-top: 26px;
    border: none;
}
.footer-item
{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 450;

}
.footer-logo
{
    padding: 0;
    width: 227px;
    transition: transform 1s ease-in;
}

.footer-logo:hover {
    transform: rotate(360deg);
}

.footer-link-center
{
    margin-top: 40px;
    width: 227px;
}
.footer-connect
{
    margin-top: 20px;
}
.footer-connect-img
{
    height: 37px;
}
.footer-connect-link
{
    text-decoration: none;
    margin-right: 8px;
}
.foooter-identify
{
    margin-top:15px;
}
/* body: logined */
.nav-link-subLogin
{
    cursor:text;
}
.nav-link-subLogin:hover
{
    color: var(--text-color);

}
.nav-link-subLogin-user
{
    position: relative;
}
.header-auth-subLogin
{
    width: 200px;
    position: absolute;
    right: 6%;
    top: 106%;
    z-index: 12;
    display: none;
}
.header-auth-subLogin__list
{
    padding-top: 11px;
    padding-bottom: 10px;
    background-color: var(--white-color);
    padding-right: 20px;
    border-radius: 10px;
    border: 0.5px solid #adadad;

}
.header-auth-subLogin-item
{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding-left: 14px;
}
.header-auth-subLogin-item+.header-auth-subLogin-item
{
    margin-top: 11px;
}
.nav-link-black--noHover:hover
{
    color: var(--text-color);
}
.header-auth-subLogin-link
{
    font-weight: 400;
    margin-left: 14px;
    text-decoration: none;
    color:var(--text-color);

}
.header-auth-subLogin-item:hover
{
    color: var(--partial-color);
}
.header-auth-subLogin-link:hover
{
    color: var(--partial-color);
}
.header-auth-subLogin-icon
{
    font-size: 2.1rem;

}
.nav-link-subLogin-user:hover .header-auth-subLogin
{
    display: block;
}
.nav-link-subLogin-user::before
{
    content: "";
    width: 100px;
    height: 15px;
    background-color: transparent;
    position: absolute;
    right: 2%;
    top:  70%;
    z-index: 20;
}