.title_manage {
    display: flex;
    margin: 10px 60px 0px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
    color: #e05994;
}

.manage_list {
    margin: 10px 60px 0px 20px;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5rem;
}

.user_account {
    border-collapse: collapse;
    margin: 25px 0px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user_account {
    border-collapse: collapse;
    margin: 25px 0px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user_account thead tr {
    background-color: #f78da7;
    color: #183a5c;
    font-weight: bold;
    height: 50px;
}

.user_account th,
.user_account td {
    padding: 12px 15px;
}

.user_account tbody tr {
    border-bottom: 1px solid #dddddd;
}

.user_account tbody tr:last-of-type {
    border-bottom: 2px solid #f78da7;
}

.user_account tbody tr:hover {
    background-color: #ddddddec;
}

.user_account tbody tr button {
    border-radius: 5px;
}

.user_account tbody tr button:hover {
    background-color: rgba(255, 0, 55, 0.884);
    transform: scale(1.1);
    color: white;
    font-weight: bold;
}

.staff_account {
    border-collapse: collapse;
    margin: 25px 0px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.staff_account {
    border-collapse: collapse;
    margin: 25px 0px;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.staff_account thead tr {
    background-color: #f78da7;
    color: #183a5c;
    font-weight: bold;
    height: 50px;
}

.staff_account th,
.staff_account td {
    padding: 12px 15px;
}

.staff_account tbody tr {
    border-bottom: 1px solid #dddddd;
}

.staff_account tbody tr:last-of-type {
    border-bottom: 2px solid #f78da7;
}

.staff_account tbody tr:hover {
    background-color: #ddddddec;
}

.staff_account tbody tr button {
    border-radius: 5px;
}

.staff_account tbody tr button:hover {
    background-color: rgba(255, 0, 55, 0.884);
    transform: scale(1.1);
    color: white;
    font-weight: bold;
}

.manage_staff button {
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;
}

.manage_staff button:hover {
    background-color: #f78da7;
    transform: scale(1.1);
    color: white;
    font-weight: bold;
}

.manage h2 {
    color: #f78da7;
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px;
}
