.body-user-display-container1 {
    display: flex;
    /* width: 1091px; */
}
.body-user-flex {
    display: flex;
}
.body-user {
    margin-top: 10px;
    display: flex;
    padding-bottom: 70px;
}

.body-user-feature {
    width: 200px;
    margin-top: 20px;
}
.body-user-feature-header {
    display: flex;

}
.body-user-infor {
    font-size: 1.5rem;
    margin-left: 15px;
}
.body-user-img {
    height: 50px;
}
.body-user-infor-name {
    font-weight: bold;
    color: var(--primary-color);
}
.body-user-infor-link {
    text-decoration: none;
    color: #888;
    font-weight: 400;
    margin-right: 5px;
}
.body-user-infor-edit {
    display: flex;
    align-items: center;
}
.body-user-infor-icon {
    cursor: pointer;
    font-size: 2rem;
    color: #888;
}
.body-user-feature-footer {
    margin-top: 45px;
}
.body-user-feature-item-icon {
    font-size: 25px;
}
.body-user-feature-item-icon--blue {
    color: #1655b7;
}
.body-user-feature-item-icon--blue2 {
    color: #1359b1;
}
.body-user-feature-item-icon--orange {
    color: #f74f2b;
}
.body-user-feature-item-icon--yellow {
    color: #f0ab0b;
}
.body-user-feature-item {
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}
.body-user-feature-item {
    cursor: pointer;
}
.body-user-feature-item a {
    all: unset;
}
.body-user-feature-item + .body-user-feature-item {
    margin-top: 17px;
}
.body-user-feature-text:hover {
    color: var(--primary-color);
}
.body-user-display {
    margin-top: 30px;
    margin-left: 27px;
    background-color: white;
    max-width: 900px;
    /* width: auto; */
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    padding: 12px 15px;
    /* display: flex; */
}
/* custom */
.body-user-display-container {
    display: flex;
}
.body-user-display-title1 {
    font-size: 2rem;
    color: #333;
    font-weight: 500;
}
.body-user-display-title2 {
    font-size: 1.4rem;
    color: #555;
    font-weight: 400;
}
.body-user-display-container {
    padding-top: 30px;
}
.body-user-display-frm {
    display: block;
    flex-basis: 55%;
    /* margin-right: 84px; */
}
.body-user-display-line {
    width: 100%;
    color: rgba(0, 0, 0, 0.4);
}
.body-user-display-td-label {
    text-align: left;
    padding-bottom: 30px;
    font-size: 1.4rem;
    color: rgba(85, 85, 85, 0.8);
    width: 25%;
}
.body-user-display-td-input {
    padding-left: 20px;
    padding-bottom: 30px;
    width: 75%;
}
.body-user-display-input {
    padding: 8px;
    width: 100%;
    font-size: 1.4rem;
}
.body-user-display-rdo {
    width: 19px;
    height: 19px;
}

.body-user-display-rdo-text {
    margin-left: 5px;
    font-size: 1.4rem;
    margin-right: 20px;
}
.body-user-display-date {
    padding: 8px;
    width: 400px;
    font-size: 1.4rem;
}

.body-user-display-legend {
    color: red;
    padding-left: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}
.body-user-display-btn {
    position: relative;
}
.security-login__phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.security-login__phone p {
    margin: 0;
    font-size: 1.4rem;
}
.security-login__phone img {
    height: 20px;
}
.security-login__phone button {
    height: 39px;
    width: 120px;
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    font-weight: 500;
}
.security {
    flex-basis: 40%;
}
.security-login__text {
    margin-right: 110px;
}

.security-pass__text {
    margin-right: 161px;
}
.security h2 {
    font-weight: 500px;
}
.line {
    border-right: solid 1px rgba(0, 0, 0, 0.3);
    height: 100%;
}

.account-container{
    margin-top: 16px;
}
/* iphone 14 promax */
@media screen and (max-width: 430px) {
    .body-user-feature-footer{
        width: 41vh;

        display: grid;
        grid-template-columns: 50% 50%;
        margin: 24px;
    }

    .body-user-display-myaccount, .body-user-display-container1, .body-user-flex{
        display: flex;
        flex-direction: column;
    }

    .body-user-display-myaccount{
        max-width: 400px;
    }

    .body-user-display{
        width: 90%;
        margin: auto;
    }

    .body-user{
        display: block;
    }

    .security-login__phone{
        display: grid;
        grid-template-columns: 10% 55% 34%;
    }


    .body-user-feature-header{
        justify-content: center;
        width: 430px;
    }

    .security-login__text, .security-pass__text {
        margin: 0;
    }
    
    .security{
        margin-top: 18px;
    }
    .btn-primary{
        padding: 0;
        max-width: 100px;
    }

    /* .body-user-display-rdo-text{
        margin: 0;
    } */
}

/* ipad air */
@media screen and (max-width: 995px) and (min-width: 431px) {
    .body-user {
        margin: 0 12px;
    }

    
    .body-user-display-myaccount, .body-user-display-container1{
        display: flex;
        flex-direction: column;
    }
    .body-user-display-myaccount{
        /* max-width: 800px; */
    }

    .body-user-display{
        max-width: 500px;
    }

    .security-login__phone{
        display: grid;
        grid-template-columns: 10% 60% 29%;
    }

    .security{
        margin-top: 18px;
    }

    .footer-container{
        grid-template-columns: 30% 40% 30%;

    }
    .footer-container .footer-list:last-child{
        display: none;
    }

    .security-login__text, .security-pass__text {
        margin: 0;
    }

    .body-user-display-tbl{
        display: block;
    }

}
/* pc */
@media screen and (max-width: 2000px) and (min-width: 995px) {
    
    .security-login__text{
        margin-right: 400px;
    }
    .security-login__phone{
        display: grid;
        grid-template-columns: 10% 50% 39%;
    }

    .security-pass__text {
        margin: 0;
    }

    
}

