.add-address-container {
    display: flex;
    gap: 36px;
}
.body-user-display-frm {
    flex-basis: auto;
}
.body-user-display-frm p {
    font-size: 1.4rem;
    color: rgba(85, 85, 85, 0.9);
}
.body-user-display-input {
    width: 385px;
}
.add-address-section1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btnChangeContainer {
    text-align: end;
}
.checkbox-defaultAddress {
    font-size: 1.4rem;
}
